{% extends "mainapp/base.html" %}
{% load staticfiles %}
{% block title %}修改密码{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/login_style.css' %}">

<div class="top-content">

  <div class="inner-bg">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3 form-box">
          <div class="form-top">
            <div class="form-top-left">
              <h3>修改密码</h3>
            </div>
            <div class="form-top-right">
              <i class="fa fa-refresh"></i>
            </div>
          </div>
          {% if state == 'password_error' %}
              <div class="well">
                  <h2 class="text-danger text-center">密码错误</h2>
              </div>
          {% elif state == 'repeat_error' %}
              <div class="well">
                  <h2 class="text-warning text-center">密码重复错误</h2>
              </div>
          {% elif state == 'empty' %}
              <div class="well">
                  <h2 class="text-warning text-center">密码不能为空</h2>
              </div>
          {% elif state == 'success' %}
              <div class="well">
                  <h2 class="text-success text-center">修改成功</h2>
              </div>
          {% endif %}
          <div class="form-bottom">
            <form role="form" action="" method="post" class="login-form">
              {% csrf_token %}
              <div class="form-group">
                <label class="sr-only" for="id_old">原密码</label>
                <input type="password" id="id_old" required name="old_password" placeholder="原始密码..." class="form-username form-control">
              </div>
              <div class="form-group">
                <label class="sr-only" for="id_new">新密码</label>
                <input type="password" id="id_new" required name="new_password" placeholder="新密码..." class="form-password form-control">
              </div>
              <div class="form-group">
                <label class="sr-only" for="id_new_re">重复密码</label>
                <input type="password" id="id_new_re" required name="repeat_password" placeholder="重复密码..." class="form-password form-control">
              </div>
              <button type="submit" class="btn">提交</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}
