{% extends "mainapp/user_base.html" %}
{% load staticfiles %}

{% block content2 %}

      <div style="padding: 50px;background-color: #fff;width: 75%;margin: 50px auto; margin-bottom: 180px;">
        <div class="containers">
          <div class="row" style="margin-bottom:20px;">
            <div class="col-lg-12">
              <div class="col-lg-4 col-md-4 col-sm-4" style="margin-top: 20px;">
                <img src="/media/upload/2018/10/29/Avatar.jpg" class="avatar" />
              </div>
              <div class="col-lg-8 col-md-8 col-sm-8" style="">
                <div class="title">
                  <h1>Xia Min</h1>
                </div>
                <!-- End of title -->
                <div class="space" style="margin-top:20px;">
                  <h5>手机号</h5>
                  <div class="progress progress-striped active">
                    <input type="" class="form-control input-sm shuru" id="sKnot" placeholder="">
                  </div>

                  <h5>电子邮件</h5>
                  <div class="progress progress-striped active">
                    <input type="" class="form-control input-sm shuru" id="sKnot" placeholder="">
                  </div>

                  <h5>个人网站</h5>
                  <div class="progress progress-striped active">
                    <input type="" class="form-control input-sm shuru" id="sKnot" placeholder="">
                  </div>

                  <h5>所在公司</h5>
                  <div class="progress progress-striped active">
                    <input type="" class="form-control input-sm shuru" id="sKnot" placeholder="">
                  </div>

                  <h5>工作职位</h5>
                  <div class="progress progress-striped active">
                    <input type="" class="form-control input-sm shuru" id="sKnot" placeholder="">
                  </div>
                  
                  <h5>个人简介</h5>
                  <div class="progress progress-striped active" style="    height: 100%;">
                    <textarea type="" class="form-control input-sm shuru" id="sKnot" placeholder="" style="height:100px;"></textarea>
                  </div>

                  <div style="text-align: center;margin-top: 20px;">
                    <button type="reset" class="btn btn-md btn-info" style="margin: 0 5px;">重 置</button>
                    <button type="submit" class="btn btn-md btn-success" style="margin: 0 5px;">保 存</button>
                  </div>
                </div>
              </div>

            </div>

          </div>

          <!-- end row -->
        </div>
      </div>

{% endblock %}